<nav>
  <span style="cursor:pointer;color:#51cd28" onclick="openNav()">&#9776;</span>
  <a href="{{ '/' | relative_url }}">Contributor Book</a>
  <a class="{% if include.current == 'Other Books' %} active {% endif %}"
    href="{{ '/books.html' | relative_url }}">Books</a>
  <div class="right">
    <a href="https://www.nushell.sh" class="button"><span class="no-mobile">Visit our </span>Website</a>
  </div>
</nav>

<div id="Sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <a id="lang_en" href="#" class="hide" data-toggle="#list_en" onclick="changeColor(this.id)">English</a>
  <ol id="list_en">
    <li><a href="{{ '/en/introduction.html' | relative_url }}">Introduction</a></li>
    <li><a href="{{ '/en/philosophy.html' | relative_url }}">Philosophy</a></li>
    <li><a href="{{ '/en/values.html' | relative_url }}">Values</a></li>
    <li><a href="{{ '/en/commands.html' | relative_url }}">Commands</a></li>
    <li><a href="{{ '/en/streams.html' | relative_url }}">Streams</a></li>
    <li><a href="{{ '/en/metadata.html' | relative_url }}">Metadata</a></li>
    <li><a href="{{ '/en/plugins.html' | relative_url }}">Plugins</a></li>
    <li><a href="{{ '/en/shells.html' | relative_url }}">Shells</a></li>
  </ol>

  <a id="lang_es" href="#" class="hide" data-toggle="#list_es" onclick="changeColor(this.id)">Español</a>
  <ol id="list_es">
    <li><a href="{{ '/es/introduccion.html' | relative_url }}">Introducción</a></li>
    <li><a href="{{ '/es/filosofia.html' | relative_url }}">Filosofía</a></li>
    <li><a href="{{ '/es/valores.html' | relative_url }}">Valores</a></li>
    <li><a href="{{ '/es/comandos.html' | relative_url }}">Comandos</a></li>
    <li><a href="{{ '/es/metadatos.html' | relative_url }}">Metadatos</a></li>
  </ol>
  <br>
  Click to expand language-specific table of contents
</div>

<script>
  function openNav() {
    document.getElementById("Sidenav").style.width = "220px";
    document.getElementById("main").style.marginLeft = "220px";
  }

  function closeNav() {
    document.getElementById("Sidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
  function changeColor(elementID) {
    if (document.getElementById(elementID).style.color == "rgb(136, 136, 136)") {
      document.getElementById(elementID).style.color = "#51cd28"
    } else {
      document.getElementById(elementID).style.color = "#888888"
    }
  }
</script>
<script>
  $('[data-toggle]').on('click', function () {
    var id = $(this).data("toggle"),
      $object = $(id),
      className = "open";

    if ($object) {
      if ($object.hasClass(className)) {
        $object.removeClass(className)
      } else {
        $object.addClass(className)
        $object.replace(">", "^")
      }
    }
  });
</script>
